.todo-test{
    background: rgb(52, 12, 230);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 20px;
   margin-bottom: 20px;
   box-shadow: 0px 0px 15px rgb(179, 170, 255);
   position: relative;
}
.button{
    position: absolute;
  right: 50px;
}
.app{
    width: 100vw;
    height: 100vh;
    background-color: rgb(162, 183, 190);
}
.form{
    padding-top: 30px;
   
}
.taskfy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(55, 14, 151, 0.822);
    font-weight: 800;
    text-align: center;
    padding-top: 10px;
    text-shadow: 0px 0px 5px gray;
}